body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
    background-color: dimgray;
}
.error{
    width: 390px;
    min-height: 40px;
    padding: 5px;
    background-color: red;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0;
}
.display{
    width: 390px;
    min-height: 90px;
    letter-spacing: 1px;
    font-family: "Wallpoet";
    background-color: lightblue;
    font-size: 30px;
    padding: 5px;
    overflow-wrap: break-word;
    border-radius: 5px;
}
.calculator-container{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 450px;
}
.left{
    width: 300px;
}
.right{
    width: 100px;
}
.up{
    width: 400px;
}
.left, .right, .up{
    display: flex;
    flex-wrap: wrap;
}
button{
    flex-basis: 100px;
    height: 100px;
    font-size: 40px;
    cursor: pointer;
    background-color: gray;
}
.up > button{
    flex-basis: 200px;
}
.greenText{
    color: #65e765;
}
.greenText:hover{
    color: green;
}
.redText{
    color: #e76565;
}
.redText:hover{
    color: red;
}
button:hover{
    background-color: darkgray;
}