/* ------------------
     GLOBAL STYLES 
   ------------------ */

*, *::before, *::after {
    box-sizing: border-box; 
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 2rem;
    text-align: center;
    background-color: #333333;
    color: #e6e6e6;
    border-radius: 5px;
}

/* ------------------
       TYPOGRAPHY 
   ------------------ */

a{
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #888;
}

p{
    font-size: 1.3rem;
    text-align: center;
    color: white;
}

.font-clr-dark{
    color: #1a1a1a;
}

.font-digital{
    font-family: "Wallpoet";
    overflow-wrap: break-word;
    letter-spacing: 1px;
}

.text-left{
    text-align: left;
}

/* ------------------
         LAYOUT 
   ------------------ */

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.error{
    width: 400px;
    min-height: 45px;
    padding: .1em;
    margin-bottom: .5em;
    opacity: 0;
}

.calculator-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 600px;
    min-width: 400px;
    gap: 15px;
    padding: .5em;
}

.display{
    min-height: 3.5em;
    padding: .2em .5em;
    flex: 1;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    flex: 5;
}

.button-big{
    grid-column: span 2;
}

/* ------------------
       COMPONENTS 
   ------------------ */

div {
    border-radius: inherit;
}
   
p{
    margin: .2em;
}

button{
    font-size: 2.5rem;
    background-color: #666666;
    border: 2px outset #767676;
    cursor: pointer;
    font-family: inherit;
    color: inherit;
    border-radius: inherit;
}

button:disabled{
    border: 2px outset rgba(118,118,118,0.3);
    color: rgba(230, 230, 230, 0.3);
}

.border-btn{
    border: 2px outset #767676;
}

/* ------------------
        COLORING 
   ------------------ */

.blue{
    background-color: #334d99;
}
.blue:hover{
    background-color: #2d4386;
}
.red{
    background-color: #993333;
}
button.red:hover{
    background-color: #862d2d;
}
button:hover{
    background-color: #595959;
}
.bg-clr-light{
    background-color: lightblue;
}
.bg-clr-gray{
    background-color: gray;
}