body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto";
    background-color: #333333;
}
.error{
    width: 400px;
    min-height: 40px;
    padding: 5px;
    background-color: #990000;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0;
}
.calculator-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 415px;
    flex-basis: 630px;
    padding: 15px;
    background-color: gray;
    border-radius: 5px;
}
.display{
    flex: 1 0 100px;
    letter-spacing: 1px;
    font-family: "Wallpoet";
    background-color: lightblue;
    font-size: 30px;
    padding: 5px 10px;
    overflow-wrap: break-word;
    border-radius: 5px;
    color: #1a1a1a;
}
.buttons{
    flex: 5 0 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
button{
    flex: 1 0 100px;
    padding: 0;
    font-size: 40px;
    cursor: pointer;
    color: #e6e6e6;
    background-color: #666666;
    border: none;
    border-radius: 5px;
    
}
button:nth-child(1), button:nth-child(2){
    flex: 1 0 200px;
}
.blue{
    background-color: #334d99;
}
.blue:hover{
    background-color: #2d4386;
}
.red{
    background-color: #993333;
}
.red:hover{
    background-color: #862d2d;
}
button:hover{
    background-color: #595959;
}